@font-face {
  font-family: 'Cheesecake';
  src: url('Cheesecake.ttf') format('truetype');
}

body {
  font-family: 'Pinyon Script', cursive;
  background: #fffafc;
  margin: 0;
  padding: 1.5rem;
  color: #5f4b32;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.malla {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  overflow-x: auto;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.semestre {
  background: #fff0f5;
  padding: 0.4rem;
  border: 1.5px solid #d9cfc4;
  border-radius: 0.5rem;
  min-width: 130px;
  max-width: 130px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.semestre-titulo {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  color: #b58f84;
  cursor: pointer;
  user-select: none;
}

.anio-titulo {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: #a2786a;
  font-weight: bold;
}

.ramos {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.ramo {
  background: #fff8f2;
  border: 1px solid #d6c7b7;
  padding: 0.3rem;
  border-radius: 0.4rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Cheesecake', cursive;
  font-size: 0.75rem;
  line-height: 1.1;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.ramo span {
  font-size: 0.65rem;
  color: #7b6a58;
}

.promedio {
  font-size: 0.7rem;
  color: #5e4b4b;
  margin-top: 2px;
  font-weight: bold;
}

.semestre-promedio {
  margin-top: 0.4rem;
  padding: 0.2rem 0.4rem;
  background-color: #fceae8;
  border: 1px solid #e5c5c5;
  border-radius: 0.4rem;
  font-size: 0.75rem;
  color: #5f4b32;
  font-weight: bold;
  text-align: center;
}

.ramo:hover {
  background: #fce4ec;
}

.bloqueado {
  opacity: 0.5;
  pointer-events: none;
  background: #e5e5e5;
  color: #aaa;
}

.aprobado {
  background-color: #f7cad0 !important;
  text-decoration: line-through;
  color: #5e4b4b;
}

@media (max-width: 768px) {
  .malla {
    flex-direction: column;
    align-items: center;
  }

  .semestre {
    min-width: unset;
    width: 90%;
  }
}
